version: 2

jobs:
  build:
    docker:
      - image: circleci/redis:5.0.5-stretch

    working_directory: ~/repo

    steps:
      - checkout
      - run: 
          name: installations
          command: |
            apt-get -qq update
            apt-get install -y python2.7 python-pip wget unzip git
      - run:
          name: get redisgraph
          command: |
             wget https://s3.amazonaws.com/redismodules/redisgraph/redisgraph.Linux-x86_64.1.0.12.zip
             unzip redisgraph.Linux-x86_64.1.0.12.zip -d test_module
             
      # Download and cache dependencies
#      - restore_cache:
#          keys:
#          - v1-dependencies-{{ checksum "requirements.txt" }}
#          # fallback to using the latest cache if no exact match is found
#          - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            pip install virtualenv
            virtualenv venv
            . venv/bin/activate
            pip install -r requirements.txt
            pip install codecov

#      - save_cache:
#          paths:
#            - ./venv
#          key: v1-dependencies-{{ checksum "requirements.txt" }}

      - run:
          name: run tests
          command: |
            . venv/bin/activate
            coverage run test.py
            codecov 
        
   #   - store_artifacts:
   #       path: test-reports
   #       destination: test-reports
  
workflows:
  version: 2
  commit:
    jobs:
      - build:
          filters:
            branches:
              only: /.*/
            tags:
              only: /.*/ 
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build  
